<nav class="navigation">
    <div class="navigation__logo">
        {{>logo}}
    </div>
    <div class="navigation__middleBar">
        <ul class="navigation__menu">
            <li>
                <a href="#" class="navigation__menuItem">
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>
            <li>
                <a href="#" class="navigation__menuItem">
                    <i class="fa-solid fa-bolt"></i>
                </a>
            </li>
            <li>
                <a href="#" class="navigation__menuItem">
                    <i class="fa-solid fa-video"></i>
                </a>
            </li>
            <li>
                <a href="#" class="navigation__menuItem">
                    <i class="fa-solid fa-user"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="navigation__rightBar">
        <a href="settings.html" class="navigation__rightBarUser">
            <img src="/assets/img/profile-4.png" alt="avatar" class="avatar avatar--small">
        </a>
    </div>
</nav>