<aside class="sidebar">
    <div class="sidebar__box">
        <div class="sidebar__boxTitle">News feed</div>
        <!--  -->
        <div class="sidebar__item">
            <a href="#">
                <div class="sidebar__icon icon icon-darkGradient">
                    <i class="fa-solid fa-tv"></i>
                </div>
                <div class="sidebar__item-desc">Newsfeed</div>
            </a>
        </div>
        <!--  -->
        <div class="sidebar__item">
            <a href="#">
                <div class="sidebar__icon icon icon-redGradient">
                    <i class="fa-solid fa-medal"></i>
                </div>
                <div class="sidebar__item-desc">Badges</div>
            </a>
        </div>
        <!--  -->
        <div class="sidebar__item">
            <a href="#">
                <div class="sidebar__icon icon icon-orangeGradient">
                    <i class="fa-solid fa-globe"></i>
                </div>
                <div class="sidebar__item-desc">Explore Stories</div>
            </a>
        </div>
        <!--  -->
        <div class="sidebar__item">
            <a href="#">
                <div class="sidebar__icon icon icon-redGradient">
                    <i class="fa-solid fa-bolt"></i>
                </div>
                <div class="sidebar__item-desc">Popular Groups</div>
            </a>
        </div>
        <!--  -->
        <div class="sidebar__item">
            <a href="#">
                <div class="sidebar__icon icon icon-blueGradient">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="sidebar__item-desc">Author Profile</div>
            </a>
        </div>
    </div>
    <!-- MORE PAGES -->
    <div class="sidebar__box">
        <div class="sidebar__boxTitle">More Pages</div>
        <!--  -->
        <div class="sidebar__item">
            <a href="#">
                <div class="sidebar__icon-morePages">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="sidebar__item-desc">Popular Groups</div>
                <div class="sidebar__item-numbers">584</div>
            </a>
        </div>
        <!--  -->
        <div class="sidebar__item">
            <a href="#">
                <div class="sidebar__icon-morePages">
                    <i class="fa-solid fa-hotel"></i>
                </div>
                <div class="sidebar__item-desc">Near Hotel</div>
            </a>
        </div>
        <!--  -->
        <div class="sidebar__item">
            <a href="#">
                <div class="sidebar__icon-morePages">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="sidebar__item-desc">Lastest Event</div>
            </a>
        </div>
        <!--  -->
        <div class="sidebar__item">
            <a href="#">
                <div class="sidebar__icon-morePages">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <div class="sidebar__item-desc">Live Stream</div>
            </a>
        </div>
    </div>
    <!-- ACCOUNT -->
    <div class="sidebar__box">
        <div class="sidebar__boxTitle">Account</div>
        <div class="sidebar__item">
            <a href="#">
                <div class="sidebar__icon-account">
                    <i class="fa-solid fa-gear"></i>
                </div>
                <div class="sidebar__item-desc">Settings</div>
            </a>
            <a href="#">
                <div class="sidebar__icon-account">
                    <i class="fa-solid fa-chart-pie"></i>
                </div>
                <div class="sidebar__item-desc">Analitics</div>
            </a>
            <a href="#">
                <div class="sidebar__icon-account">
                    <i class="fa-regular fa-message"></i>
                </div>
                <div class="sidebar__item-desc">Chat</div>
            </a>
        </div>
    </div>
</aside>