@use '../abstaract/'as *;

.miniIcon {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    inset: auto 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 24px;
    height: 24px;

    @each $name,
    $gradient in $gradiends {
        &.miniIcon-#{$name} {
            background: $gradient;
        }
    }
}